.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	text-align: center;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
}

.loginBox {
	width: 400px;
}

.form {
	margin-top: 30px;
}
