.box {
	z-index: 10;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0 0 20px 10px rgb(0 0 0 / 5%);
	border-radius: 15px;
}

.form {
	width: 400px;
	padding: 40px;
	text-align: center;
}

.titleBox {
	position: relative;
}

.titleBox p {
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 24px;
}

.titleBox button {
	position: absolute;
	top: 0;
	right: 0;
	height: 24px;
	background-color: transparent;
	border: none;
	font-size: 24px;
	color: #999;
}
